/* @import must be at top of file, otherwise CSS will not work */
/*   
@font-face {font-family: 'HelveticaNeueLTStd-Bd';src: url('../fonts/Helvetica/3387D5_0_0.eot');src: url('../fonts/Helvetica/3387D5_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/Helvetica/3387D5_0_0.woff2') format('woff2'),url('../fonts/Helvetica/3387D5_0_0.woff') format('woff'),url('../fonts/Helvetica/3387D5_0_0.ttf') format('truetype');}
*/


@font-face {
  font-family: 'Selina';
  src: url('../fonts/Selina-Regular.eot') format('embedded-opentype'), url('../fonts/Selina-Regular.woff2') format('woff2'), url('../fonts/Selina-Regular.woff') format('woff'), url('../fonts/Selina-Regular.ttf') format('truetype');
}

@mixin Selina() {
  font-family: Selina;
  font-weight: normal;
  font-style: normal;
}