.main__btn {
	background: #0082cf;
	color: #fff;
	transition: .6s;
	display: inline-block;
	padding: 17px 30px 16px;
	border-radius: 30px;
	text-transform: uppercase;
	box-shadow: 0px 0px 8px 3px rgba(141,200,227,0.44);
	font-size: 11px;
	line-height: 13px;
	@include Comfortaa-Regular();

	&:hover {
		background: #139fe0;
	}
}