// promo

.promo {
	background: #f8f8f8;

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 38px 54px 0;
		text-align: left;
		display: flex;
	}

	&__slogan {
		max-width: 540px;
		margin-left: 70px;
	}

	&__title {
		font-size: 50px;
    	margin-top: 25px;
    	margin-left: 6px;
    	line-height: 65px;
	}

	&__text {
		max-width: 450px;
		color: #040404;
		font-size: 16px;
		line-height: 21px;
		margin-top: 20px;
		margin-left: 10px;
	}

	&__btn {
		margin-left: -13px;
    	margin-top: 1px;
	}

	&__quote {
		margin-top: 38px;
		margin-left: 55px;
		margin-bottom: 20px;
	}

	&__img--wrap {
		width: 42%;
		display: flex;
    	justify-content: center;
    	align-items: flex-end;
	}

	&__img {
		max-width: 482px;
		width: 100%;
	}
}

@media only screen and (max-width : 1024px) {

	.promo {

		&__content {
			flex-direction: column;
			align-items: center;
			padding: 0 20px;
		}

		&__slogan {
			margin: 0;
		}

		&__quote {
			display: none;;
		}

		&__img--wrap {
			width: 100%;
			text-align: center;
			margin-top: 50px;
		}

		&__img {
			//max-width: 200px;
		}
	}

}

// actions

.actions {

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 77px 60px 101px;
		text-align: left;
	}

	&__title {
		margin-left: 68px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 38px;
		padding: 0 57px;
	}

	&__item {
		width: calc(25% - 10px);
	}

	&__icon {
		width: 77px;
	}

	&__subtitle {
		text-transform: uppercase;
		font-size: 16px;
		line-height: 21px;
		margin-top: 20px;
	}

	&__text {
		font-size: 16px;
		line-height: 21px;
		margin-top: 10px;
	}
}

@media only screen and (max-width : 1024px) {

	.actions {

		&__content {
			padding: 40px 20px 20px;
		}

		&__title {
			margin: 0;
		}

		&__list {
			flex-direction: column;
			align-items: center;
			padding: 0;
    		margin-top: 25px;
		}

		&__item {
			width: 100%;
			margin-bottom: 40px;
		}
	}

}

// training

.training {
	background: url(../img/training__bg.jpg) no-repeat center;
	background-size: cover;

	&__title {
		color: #fff;
	}

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 58px 60px 53px;
		text-align: center;

		&--speech {
			padding: 98px 60px 76px;
		}
	}

	&__text {
		color: #fff;
		font-size: 16px;
		line-height: 21px;
		margin-top: 12px;
	}

	&__btn {
		background: #fff;
		color: #0097bd;
		margin-top: 10px;
    	margin-right: 10px;
    	padding: 19px 33px 18px;

    	&:hover {
    		background: #d1e5ec;
    	}
	}
}

@media only screen and (max-width : 1024px) {

	.training {

		&__content {
			padding: 40px 20px;
		}

		&__title {
			text-align: center;
		}
	}

}

// advantages

.advantages {

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 78px 60px 23px;
		text-align: center;

		&--corporate {
			padding: 26px 60px 71px;
		}
	}

	&__title {
		margin-right: 50px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 52px;
	}

	&__item {
		width: calc(33.3% - 20px);
		text-align: left;

		&--education {
			margin-right: 93px;
		}

		&--experience {
			margin-right: 63px;
		}
	}

	&__icon {
		width: 83px;

		&--book {
			width: 47px;
		}
	}

	&__subtitle {
		margin-top: 24px;
    	margin-left: 7px;
    	font-size: 16px;
    	color: #030303;
    	text-transform: uppercase;
	}

	&__link {
		font-size: 16px;
		line-height: 23px;
		color: #030303;
		text-decoration: underline;
		text-transform: uppercase;
		transition: .6s;

		&:hover {
			color: #f59206;
		}
	}

	&__text--wrap {
		margin-left: 7px;
    	margin-top: 6px;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 6px;
	}
}

@media only screen and (max-width : 1024px) {

	.advantages {

		&__content {
			padding: 40px 20px 0;
		}

		&__list {
			flex-direction: column;
			margin-top: 40px;
		}

		&__item {
			width: 100%;
			margin-bottom: 40px;
		}
	}

}

// reviews

.reviews {

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 58px 97px 29px 44px;
		text-align: center;

		&--target {
			padding: 89px 97px 80px 44px;
		}

		&--corporate {
			padding: 38px 97px 59px 44px;
		}
	}

	&__title {
		margin-left: 50px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 42px;
	}

	&__quote--wrap {
		text-align: left;
		margin-bottom: 43px;
	}

	&__quote {
		line-height: 21px;
		font-style: normal;
		max-width: 550px;
    	padding: 34px 35px;

    	&:before {
    		content: '';
    		width: 30px;
    		position: absolute;
    		bottom: -30px;
    		left: 42px;
    		height: 30px;
    		background: url(../img/reviews__arrow.png);
    		background-repeat: no-repeat;
    	}
	}

	&__link {
		color: #008ad2;
		text-decoration: underline;
		transition: .6s;

		&:hover {
			color: #f59206;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 21px;
		margin-top: 28px;
    	margin-left: 36px;
	}

	&__video {
		max-width: 532px;
		margin-left: 30px;

		& iframe {
			width: 532px;
    		height: 370px;
		}
	}

	&__btn {
		margin-top: 39px;
	}
}

@media only screen and (max-width : 1024px) {

	.reviews {

		&__content {
			padding: 20px 0 60px;
		}

		&__list {
			flex-direction: column;
			margin-top: 40px;
		}

		&__item {
			padding: 0 20px;
			width: 100%;
		}

		&__video {
		max-width: 100%;
		margin: 0;

			& iframe {
				width: 100%;
			}
		}
	}

}

// programs

.programs {
	background: #f8f8f8;

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 63px 34px 65px;
		text-align: center;

		&--target {
			padding: 83px 34px 46px;
		}
	}

	&__title {
		margin-right: 13px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-top: 42px;
	}

	&__item {
		text-align: left;
		background: #fff;
		margin-left: 28px;
		margin-bottom: 39px;
    	width: 363px;
    	padding: 37px 35px;
    	position: relative;
    	height: 478px;

    	&--target {
			height: auto;
		}
	}

	&__icon {
		width: 80px;
	}

	&__subtitle {
		margin-top: 27px;
    	font-size: 16px;
    	text-transform: uppercase;
    	line-height: 24px;
    	color: #040404;
    	font-weight: bold;
	}

	&__text--wrap {
		margin-top: 8px;
	}

	&__text {
		font-size: 16px;
		line-height: 21px;
	}

	&__link {
		color: #008ad2;
		transition: .6s;
		font-size: 16px;
		margin-top: 12px;
		position: absolute;
		bottom: 56px;

		&:hover {
			color: #f59206;
		}
	}
}

@media only screen and (max-width : 1024px) {

	.programs {

		&__content {
			padding: 60px 20px 10px;
		}

		&__item {
			margin-left: 0;
			height: 530px;

			&--target {
    			height: auto;
			}
		}

		&__link {
			bottom: 30px;
		}
	}

}

// timetable

.timetable {
	background: #fff;

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 80px 71px 78px 64px;
		text-align: center;
	}

	&__title {
		margin-right: 7px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		text-align: left;
		margin-top: 40px;
	}

	&__item {
		width: calc(33.3% - 19px);
		border: 1px solid #d4d1d1;
	}

	&__img {
		width: 100%;
	}

	&__wrap {
		margin: 40px 30px;
		padding: 0 5px;
	}

	&__date {
		font-size: 16px;
		line-height: 15px;
		margin-bottom: 8px;
	}

	&__subtitle {
		text-transform: uppercase;
		color: #010101;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		text-decoration: underline;
		transition: .6s;
		margin-bottom: 5px;
    	display: inline-block;

		&:hover {
			color: #0076cc;
		}
	}

	&__address {
		margin-bottom: 11px;
	}

	&__link {
		color: #008ad2;
		transition: .6s;
		font-size: 16px;

		&:hover {
			color: #f59206;
		}
	}
}

@media only screen and (max-width : 1024px) {

	.timetable {

		&__content {
			padding: 60px 10px 10px;
		}

		&__title {
			margin-left: 10px;
		}

		&__item {
			margin-bottom: 30px;
		}
	}

}

// customers

.customers {
	background: #f8f8f8;

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 64px 72px 92px;
		text-align: center;
	}

	&__slider {
		margin-top: 45px;
	}

	&__img {
		width: 135px;
	}
}

@media only screen and (max-width : 1024px) {

	.customers {

		&__slider {
			display: flex;
    		flex-wrap: wrap;
		}

		&__img {
			padding: 0 20px 30px 0;
		}
	}

}

// media

@media only screen and (max-width : 1024px) {

	.programs {

		&__list {
			flex-direction: column;
		}

		&__item {
			width: 100%;
		}
	}

	.timetable {

		&__list {
			flex-direction: column;
		}

		&__item {
			width: 100%;
		}
	}

}

// media for title

@media only screen and (max-width : 1024px) {

	.main__title {
		font-size: 28px;
		line-height: 35px;
		text-align: left;
	}

	.training {

		&__title {

			text-align: center;
		}
	}
}

// modal

.modal, .modal2 {
  background-color: #fff;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: -150px;
  padding: 30px;
  z-index: 10;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);

  &__content {
  	text-align: center;
  }

  &__input {
  	text-align: left;
  }
}

.close-modal, .close-modal2 {
  height: 20px;
  width: 20px;
  color:  #000;
  text-decoration: none;
  float: right;
  position: absolute;
  top: 10px;
  right: 10px
}

.input__btn {
	border-style: solid;
	cursor: pointer;
	margin: 10px 0 0;
}

@media (max-width: 420px) {

  .modal, .modal2 {
  	top: 12%;
    left: 12%;
    width: 78%;
    height: 78%;
    margin: 0;
    padding: 20px;
  }
  
  .close-modal, .close-modal2 {
   display: block;
   position: relative;
   padding: 5px 10px 20px 0;
  }
  
  .modal__content{
    clear: both;
    padding-right: 1.25rem;
  }
  
}

.active{
	color: #0076cc;
}

@media only screen and (max-width : 1024px) {

	.active{
		color: #f59206;
	}
}