.footer {
	background: #1a1a1a;
	color: #fff;
	font-size: 16px;
	line-height: 21px;

	&__content {
		display: flex;
		justify-content: space-between;
		max-width: 1280px;
		margin: 0 auto;
		padding: 58px 64px 123px;
	}

	&__social {
		max-width: 380px;
	}

	&__logo {
		width: 252px;
	}

	&__text {
		margin-top: 24px;
		font-size: 16px;
		line-height: 21px;
	}

	&__menu {
		max-width: 270px;
		display: flex;
		margin-top: 61px;
	}

	&__list {
		margin-right: 53px;
	}

	&__item {
		margin-bottom: 9px;
	}

	&__link {
		text-decoration: underline;
		transition: .6s;

		&:hover {
			color: #f59206;
		}
	}

	&__contact {
		max-width: 250px;
		margin-top: 61px;
	}

	&__phone {
		transition: .6s;
		font-size: 21px;
		line-height: 24px;

		&:hover {
			color: #f59206;
		}
	}

	&__email {
		display: inline-block;
		margin-top: 8px;
		text-decoration: underline;
		transition: .6s;
		font-size: 21px;
		line-height: 24px;

		&:hover {
			color: #f59206;
		}
	}
}

.icon {
	margin-top: 30px;

	&__link {
		margin-right: 5px;
		display: inline-block;
	}

	&__img {
		width: 30px;
		transition: .6s;

		&:hover {
			opacity: .6;
		}
	}
}

@media only screen and (max-width : 1024px) {
	.footer {

		&__content {
			flex-direction: column;
			padding: 60px 20px;
		}

		&__menu {
			margin-top: 30px;
		}

		&__contact {
			margin-top: 30px;
		}
		
	}
}