// header__top

.header {

	&__content {
		max-width: 1280px;
		margin: 0 auto;
		padding: 54px 44px 18px 66px;
	}

	&__top {
		display: flex;
    	justify-content: space-between;
	}

	&__logo {
		width: 400px;
	}

	&__contact {
		display: flex;
	}

	&__link {
		display: flex;
    	flex-direction: column;
    	text-align: right;
	}

	&__phone {
		color: #030303;
		transition: .6s;
		font-size: 16px;
		margin-top: 12px;

		&:hover {
			color: #f59206;
		}
	}

	&__email {
		color: #008ad2;
		text-decoration: underline;
		transition: .6s;
		font-size: 16px;

		&:hover {
			color: #f59206;
		}
	}

	&__btn {
		margin-top: 9px;
		margin-left: 23px;
	}

}

// header__bottom

.header__bottom {
	margin-top: 44px;
}

.menu {

	&__item {
		display: inline-block;

		&--last {
			float: right;
			margin-top: 2px;
    		margin-right: 12px;
		}
	}

	&__link {
		display: block;
		color: #000;
		transition: .6s;
		text-transform: uppercase;
		@include Comfortaa-Regular();
		font-size: 14px;
		font-weight: bold;
		margin-right: 18px;

		&:hover {
			color: #0076cc;
		}
	}

	&__icon {
		display: none;
  		padding: 6px 10px;
	}
}

.menu-trigger {
	display: none;
	position: absolute;
    top: 40px;
    right: 20px;
    z-index: 999999;
    width: 35px;
    height: 35px;

    & span {
    	display: block;
    	position: absolute;
    	height: 4px;
    	width: 100%;
    	background: #0076cc;
    	border-radius: 9px;
    	opacity: 1;
    	left: 0;
    	transform: rotate(0deg);
    	transition: .25s ease-in-out;
	}

	& span:nth-child(1) {
    	top: 0px;
	}

	& span:nth-child(2), span:nth-child(3) {
    	top: 10px;
	}

	span:nth-child(4) {
    	top: 20px;
	}
}

.menu_state_open {

	& span {
		background: #fff;
	}
	
	& span:nth-child(1) {
		top: 18px;
    	width: 0%;
    	left: 50%;
	}

	& span:nth-child(2) {
		transform: rotate(45deg);
	}

	& span:nth-child(3) {
		transform: rotate(-45deg);
	}

	& span:nth-child(4) {
		top: 18px;
    	width: 0%;
    	left: 50%;
	}
}

// media for header

@media only screen and (max-width : 1024px) {
	.header {

		&__content {
			padding: 40px 20px 0 20px;
		}

		&__btn {
			display: none;
		}

		&__top {
			flex-direction: column;
		}

		&__logo {
			width: 220px;
		}

		&__contact {
			justify-content: flex-end;
		}
		
	}

	.menu {

		&__link {
			color: #fff;
			padding-bottom: 20px;

			&:hover {
				color: #f59206;
			}
		}
	}

	.ul-trigger {
		position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 8888;
    	width: 100%;
    	background: #0082cf;
    	height: 100vh;
    	padding: 40px 20px;
	}

	ul.menu {
		display: none;
	}

	.menu__item {
		display: block;
	}

	.menu-trigger {
		display: inline-block;
	}

}

@media only screen and (max-width : 1065px) {
	.menu__item {

		&--last {
			float: inherit;
		}
	}
}